body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FF512F; 
    background: linear-gradient(to right, #F09819, #FF512F); 
    color: #F5F5F5
}

h1 {
    margin-bottom: 5rem;
    font-size: 3rem;
}

input {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
}

button {
    padding: 0.6em 1em;
    font-size: 0.9em;
    border-radius: 0.3em;
    border: none;
    color: #FF512F;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#btnGenerate {
    margin: 2rem;
}

#btnGuess {
    padding: 0.4em 1.3em;
    margin-left: 0.3rem;
}


p#result {
    margin-top: 2rem;
    font-size: 1.5rem;
}