body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

h3 {
    text-align: center;
    font-size: 12rem;
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.356);
    transition: 0.4s;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    filter: hue-rotate(0deg);
    animation: bubble 8s ease-in-out forwards;
}

@keyframes bubble {
    to {
        filter: hue-rotate(720deg);
        top: -250px;
        left: var(--left);
    }
}