@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

body {
    background-color: #252525;
}

.buttons {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1.5em 2em;
    margin: 0.5rem;
    font-size: 0.9em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
}

.btn-reset {
    padding: 1em 1.4em;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.colorDiv {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
}
